@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Oswald:wght@500&display=swap');

/* fuentes
font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif;
background: #F0F0F0;(nav-blanco)
background: #363062;(nav-azul)
background-color: #F99417;(fondo-enlaces Naranja)
color-text: white;
*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 30px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
}

.fondo-first-pag img {
    width: 100%;
    height: 100%;
}

/*-------------------------------------STYLE DEL HEADER-------------------------------------*/

.logo-apariencia {
    display: flex;
    justify-content: center;
    width: 18%;
    height: 6%;
}

.logo-appspace {
    display: flex;
    width: 50%;
    height: 100%;
    z-index: 10;
}

/* ---------------------------------------STYLE DE LA BARRA DE NAVEGACIÓN--------------------- */
.nav-bar {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    background: #363062;
    position: fixed;
    z-index: 1;
}

.barra {
    display: flex;
    justify-content: flex-end;
}

.barra ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 100vw;
    gap: 7vw;
    padding-inline-end: 5vw;
}

.barra li,
.barra a {
    list-style: none;
    text-decoration: none;
    color: white;
}

.barra-telefono {
    background: #F0F0F0;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    padding-inline-end: 5vw;
}

.enlaces1,
.enlaces2 {
    width: 18vw;
    padding: 0.5vw;
    border: orange solid 2px;
    border-radius: 0.4vw;
    text-decoration: none;
    color: orange;
    font-size: 16px;
    text-align: center;
    transition: 0.3s;
}

.enlaces1:hover {
    background: orange;
    color: white;
}

.enlaces2 {
    color: white;
    background: orange;
    opacity: 0.6;
    transition: 0.3s;
}

.enlaces2:hover {
    opacity: 1;
}

/* ------------------MEDIA QUERIES Barra de NAVEGACIÓN------------------- */
@media screen and (max-width: 600px) {
    .nav-bar {
        font-size: x-small;
        position: fixed;
    }
}

@media screen and (max-width: 600px) {

    .barra-telefono,
    .enlaces1,
    .enlaces2 {
        font-size: x-small;
    }
}

/* ------------------MAIN PRINCIPAL--------------------------------------- */
.principal {
    display: grid;
    width: 100vw;
    height: 100vh;
    align-content: center;
}
.fondo-first-pag{
    display: grid;
    width: 100vw;
    /* height: 120vh; */
    align-content: center;
    background-size: cover;
}
.slider--inner{
overflow: hidden;
}
.slider{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: 120vh;
    transition: all 0.8s ease-in;
}
.slider img{
    aspect-ratio: 16/9;
    object-fit: cover;
}
.principal-bloque-text {
    display: grid;
    position: absolute;
    width: 24vw;
    height: 61vh;
    border: 2px solid black;
    padding: 20px;
    margin-top: 268px;
    background: white;
    margin-left: 150px;
}

/* @media screen and (max-width: 700px) {
    .principal-bloque-text {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        margin-left: 0px;
        margin-top: -25px;
        width: 100vw;
        height: 30vh;
        gap: 20px;
        font-size: small;
    }
} */

.buscador {
    width: 17vw;
    height: 5vh;
    background-color: aliceblue;
    border-radius: 5px;
    margin-left: 10px;
    font-family: 'Nunito', sans-serif;
    padding-left: 14px;
}

/* -----MAIN SEGUNDA SECCIÓN---------------- */
.segunda-section {
    display: grid;
    grid-template-columns: auto;
    background: whitesmoke;
    border: purple 2px solid;

}

.segunda-section img {
    border-radius: 4px;
    width: 350px;
    height: 350px;
}

.segunda-section h2 {
    margin: 0 auto;

}

.product-list-especifico {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: black 2px solid;
    align-items: center;
    width: 300px;
    height: 400px;
    padding: 15px;
}

.product-list-especifico ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

/* footer */
/* ---------------------------------------STYLE DEL FOOTER--------------------- */

.footer-contenedor{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: nowrap;
    background: #363062;
}

.footer-contenedor div h3{
    color: #F99417;
}

.footer-contenedor ul{
    padding: 0;
}

.footer-contenedor li{
    list-style-type: none;
}

.footer-contenedor a{
    text-decoration: none;
    color: white;  
}

.footer-contenedor a:hover{
    color: rgb(0, 0, 0)
}

.socialmedia li{
    text-align: center;
}